/client_secrets.json
/local.mk
/orchid.cfg
/*.keystore
/*.mobileprovision
/*.ovpn
/*.p12
/*.pem
/*.provisionprofile
bundle.js
.idea
perf.data
perf.data.old
site/

# XXX: work around bugs in flutter's .gitignore
/app-flutter/macos/DerivedData
/app-flutter/macos/Flutter/GeneratedPluginRegistrant.swift
